{% extends 'base.html.twig' %}

{% block title %}GU Cards Collection{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Your Collection available for sale ! ✅</h1>
    <table id="market" class="display">
        <thead>
            <tr>
                <th></th>
                <th>Proto</th>
                <th>Quality</th>
                <th>Name</th>
                <th>Bought Price (ETH)</th>
                <th>Last sale amount (ETH)</th>
                <th>Gain</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            {% for card in cards %}
                {% set proto = card.uniqueCard.id %}
                {% set imgurl = 'https://card.godsunchained.com/?id='~ proto ~'&q=' ~ card.quality %}
                {% set tturl = 'https://tokentrove.com/collection/GodsUnchainedCards/'~ proto ~'-' ~ card.quality %}
            <tr>
                <td><img src="{{ imgurl }}" width="50"></td>
                <td>{{ proto }}</td>
                <td>{{ card.quality }}</td>
                <td>{{ card.uniqueCard.name }}</td>
                <td>{{ card.buyEthPrice | number_format(6) }}</td>
                <td>{{ card.lastOfferPrice  | number_format(6) }}</td>
                <td>{{ (card.lastOfferPrice - card.buyEthPrice)  | number_format(6) }}</td>
                <td><a href="{{ tturl }}" target="_blank">SELL IT !</a></td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
{% endblock %}
{% block footer_javascripts %}
    {{ encore_entry_script_tags('market') }}
{% endblock %}