{% extends 'base.html.twig' %}

{% block title %}Hello MarketController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello ! ✅</h1>
    <table id="market" class="display">
        <caption>Cards to purchase now</caption>
        <thead>
            <tr>
                <th></th>
                <th>Proto</th>
                <th>Quality</th>
                <th>Name</th>
                <th>Price (ETH)</th>
                <th>AVG (ETH)</th>
                <th>Gain (%)</th>
                <th>Gain (ETH)</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            {% for order in arrOfOrders %}
            <tr>
                <td><img src="{{ order.imgurl }}" width="50"></td>
                <td>{{ order.proto }}</td>
                <td>{{ order.quality }}</td>
                <td>{{ order.cardname }}</td>
                <td>{{ order.ethprice }}</td>
                <td>{{ order.avg }}</td>
                <td>{{ order.diff }}</td>
                <td>{{ order.diffabs }}</td>
                <td><a href="{{ order.url }}" target="_blank">BUY IT !</a></td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
{% endblock %}
{% block footer_javascripts %}
    {{ encore_entry_script_tags('market') }}
{% endblock %}